#wrap {
  margin-bottom: 32px;
}

h2, .h2 {
  font-size: 24px;
}

.navbar-nav > li#li-avatar > a {
  padding-top: 4px;
  padding-bottom: 0;
}

#userinfo {
  #avatar {
    width: 40px;
    height: 40px;
  }
}

#sidebar {
  float: right;
}

#footwrap, #singlewrap, .comments {
  clear: both;
  padding: 0 15px;
}

#singlewrap.link-preview .genericformtxt {
  margin-bottom: 30px;
}

.news-summary.box {
  position: relative;
  padding: 0 15px;
}

.news-summary {

  .news-shakeit {
    float: left;
    margin-right: 8px;
    padding: 8px;

    border: 1px solid black;
  }

  .link-votes {

    cursor: pointer;

    /*
    position: absolute;
    right: 0px;
    top: -10px;    
    z-index: 2;
    */

    float: right;
    margin-right: -10px;
    margin-top: -10px;

    font-size: 20px;
    font-weight: bold;    

      a {        
        color: black;
      }

      a:hover {
        text-decoration: none;
      }

      .clics {
        margin-top: 4px;
        font-size: 12px;
      }
  }
}

.news-body {
  /* background: #603cba; */
  /* border: 1px solid #ccc; */

  /* padding: 0 12px 12px 12px; */
  padding: 0;

  h2, h1 {
    padding: 12px 12px;    
    margin: 0 0 0 0;

      a {        
        color: white;
      }
  }

  .link-thumbnail {
    img {
      width: 100%;
      max-width: 480px;
      display: block;
    }
  }

  .news-submitted {
    color: grey;
  }

  .news-body-content {
    padding: 12px 12px 12px 12px;

    .news-submitted {
      margin-bottom: 12px;
    }

    .news-details {
      margin-top: 12px;
    }

    .news-abstract {
      
    }
  }
}

.news-body
{

}  

.news-shakeit {
  display: none;
}

#footthingy {
  margin-top: 30px;
}

ul.subheader, #footwrap ul, #footthingy ul {
  list-style: none;  
  padding: 0;
  margin: 0;

  

  li {
    display: inline-block;
  

    a {
      padding: 10px 15px;
    }
  }
}




.share_icons {
display: inline;
}

.share_icons span {
display: inline-block;
width: 18px;
height: 18px;
margin: 0 3px;
padding: 0;
opacity:0.6;
cursor:pointer;
vertical-align: text-top;
background: url(/img/common/icons-common.png) no-repeat;
background-size: 20px 300px;
}

.share_icons span:hover {
opacity:1.0;
}

.share_icons span.fb {
background-position: 0px -180px;
}

.share_icons span.tw {
background-position: 0px -160px;
}

.bigform .input-group {
  margin-bottom: 20px;
}

.bigform .inline-block > li {
position: relative;
display: inline-block;
margin: 0 10px 10px 0;
}

.bigform .well h3 {
padding-top: 0;
margin-top: 0;
margin-bottom: 20px;
}

.news-votes {
  margin-bottom: 12px;

  .label {
    font-size: inherit;
    margin-right: 4px;

    i {
      line-height: 2em;
    }
  }
}

.news-tags {
  margin-top: 12px;

  span.label {
    margin-right: 4px;

    a {
      color: white;
    }
  }
}

.tagcloud {
  .label {
    font-size: inherit;
  }
}

a.favorite {
  color: #ccc;
}

a.favorite.on {
  color: blue;
}


.news-icons {

  .news-votes, .tool {
    display: inline-block;
    vertical-align: top;
  }

  .news-votes {
    margin-right: 8px;
  }

  .tool {
    // MDOMENECH: review this. it's a patch.
    padding-top: 2px;
  }
  
}
