#wrap {
  margin-bottom: 32px;
}

h2, .h2 {
  font-size: 24px;
}

.navbar-nav > li#li-avatar > a {
  padding-top: 4px;
  padding-bottom: 0;
}

#userinfo {
  #avatar {
    width: 40px;
    height: 40px;
  }
}

#sidebar {
  float: right;
}

#footwrap, #singlewrap, .comments {
  clear: both;
  padding: 0 15px;
}

#singlewrap.link-preview .genericformtxt {
  margin-bottom: 30px;
}

.news-summary.box {
  position: relative;
  padding: 0 15px;
}

.news-summary {

  .news-shakeit {
    float: left;
    margin-right: 8px;
    padding: 8px;

    border: 1px solid black;
  }

  .link-votes.label {
    position: absolute;
    right: 0px;
    top: -10px;
    font-size: 20px;
    font-weight: bold;
    z-index: 2;  
  }
}

.news-body {
  /* background: #603cba; */
  border: 1px solid #ccc;

  padding: 0 12px 12px 12px;
}

.news-body
{
-moz-box-shadow: -3px -3px 8px #ccc;
-webkit-box-shadow: -3px -3px 8px #ccc;
box-shadow: -3px -3px 8px #ccc;
}  

.news-shakeit {
  display: none;
}

#footthingy {
  margin-top: 30px;
}

ul.subheader, #footwrap ul, #footthingy ul {
  list-style: none;  
  padding: 0;
  margin: 0;

  

  li {
    display: inline-block;
  

    a {
      padding: 10px 15px;
    }
  }
}


.comments-counter {
  padding: 5px 0;
  display: block;
  text-align: center;

  margin-top:3px;
  border: 1px solid #ccc;  
}




div.comments ol {
  list-style: none;
  padding: 0;
  marging: 0;
}


.comment-body {
  padding: 5px 5px 10px 10px;
  line-height: 120%;
  text-align: left;
  overflow: hidden;
  min-height: 25px;
  background: #FFF1E2;
  color: #202020;
  border-color: #FF6400;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}