@charset "UTF-8";
/* Menéame colors and images */
/***
All images referenced by the CSS and distributed in the tar file are
copyrighted by Benjamí Villoslada and published under a CC license:
http://creativecommons.org/licenses/by-sa/2.5/

Source code was developed by Ricardo Galli, it's published
under the Affero GPL License (http://meneame.net/COPYING) unless
stated otherwise in individual files.
***/
/* sneaker */
/* line 15, ../../../sass/es/sneak.memocracia.scss */
.sneaker {
  font-size: small;
  margin-top: -1px;
  /*background: url(../../img/mnm/elmnm-sneak-reverse02.png) 97% 95% no-repeat;*/
}

/* line 21, ../../../sass/es/sneak.memocracia.scss */
.sneaker-title strong {
  /* color: #FF9400; */
}

/* line 25, ../../../sass/es/sneak.memocracia.scss */
.sneaker-story .thumb {
  float: left;
  margin: 0 4px 0 0;
}

/* line 30, ../../../sass/es/sneak.memocracia.scss */
.sneaker-legend {
  /*
  color: #FF6400;
  background: #FFEDC6; 
  border-bottom-color: #FFEDC6;
  */
}

/* line 38, ../../../sass/es/sneak.memocracia.scss */
.sneaker-item {
  /* border-bottom-color: #FFE2C5; */
}

/* line 42, ../../../sass/es/sneak.memocracia.scss */
.sneaker-chat, .sneaker-chat a {
  color: #9B0000;
}

/* line 46, ../../../sass/es/sneak.memocracia.scss */
.sneaker-chat-friends, .sneaker-chat-friends a {
  color: #255c25;
}

/* line 50, ../../../sass/es/sneak.memocracia.scss */
.sneaker-chat-admin, .sneaker-chat-admin a {
  color: #f00000;
}

/* line 54, ../../../sass/es/sneak.memocracia.scss */
.sneaker-who img {
  border-color: #FFE2C5;
}

/* line 58, ../../../sass/es/sneak.memocracia.scss */
.sneaker-problem {
  color: #F00;
}

/* line 62, ../../../sass/es/sneak.memocracia.scss */
.sneaker-published {
  color: #FF6400;
}

/* line 66, ../../../sass/es/sneak.memocracia.scss */
.sneaker-discarded {
  color: #D9AA95;
}

/* line 76, ../../../sass/es/sneak.memocracia.scss */
.sneaker {
  margin: 0;
}

/* line 80, ../../../sass/es/sneak.memocracia.scss */
.mini-sneaker-title strong, .sneaker-title strong {
  font-size: 95%;
}

/* line 84, ../../../sass/es/sneak.memocracia.scss */
.sneaker-legend {
  font-size: 9pt;
  text-align: center;
  padding: 8px 0 2px 0;
  margin: 0;
}

/* line 91, ../../../sass/es/sneak.memocracia.scss */
.sneaker-legend img {
  margin: 0 25px 0 3px;
  vertical-align: baseline;
}

/* line 96, ../../../sass/es/sneak.memocracia.scss */
.sneaker-control {
  margin: 0;
}

/* line 100, ../../../sass/es/sneak.memocracia.scss */
.sneaker-item {
  width: 100%;
  clear: both;
  border-bottom: 1px solid;
  padding: 5px 0 5px 0;
  text-align: center;
  overflow: hidden;
}

/* line 109, ../../../sass/es/sneak.memocracia.scss */
.sneaker-ts, .sneaker-sub, .sneaker-type, .sneaker-votes, .sneaker-story, .sneaker-chat, .sneaker-who, .sneaker-status, .sneaker-chat-friends, .sneaker-chat-admin {
  float: left;
  display: block;
}

/* line 114, ../../../sass/es/sneak.memocracia.scss */
.sneaker-ts {
  width: 6%;
  text-align: left;
}

/* line 119, ../../../sass/es/sneak.memocracia.scss */
.sneaker-sub {
  width: 9%;
  font-variant: small-caps;
}

/* line 124, ../../../sass/es/sneak.memocracia.scss */
.sneaker-type {
  width: 5%;
}

/* line 128, ../../../sass/es/sneak.memocracia.scss */
.sneaker-type img {
  border: none;
  margin: 0;
  vertical-align: middle;
}

/* line 134, ../../../sass/es/sneak.memocracia.scss */
.sneaker-votes {
  width: 8%;
}

/* line 138, ../../../sass/es/sneak.memocracia.scss */
.sneaker-story {
  width: 50%;
  text-align: left;
  overflow: hidden;
}

/* line 144, ../../../sass/es/sneak.memocracia.scss */
.sneaker-chat, .sneaker-chat-friends, .sneaker-chat-admin {
  width: 50%;
  text-align: left;
  overflow: hidden;
}

/* line 150, ../../../sass/es/sneak.memocracia.scss */
.sneaker-who {
  width: 15%;
  text-align: left;
}

/* line 155, ../../../sass/es/sneak.memocracia.scss */
.sneaker-who img {
  border: 0px solid;
  float: right;
  margin-right: 2px;
  margin-left: 4px;
  vertical-align: bottom;
}

/* line 163, ../../../sass/es/sneak.memocracia.scss */
.sneaker-status {
  width: 6%;
  text-align: right;
}

/* line 168, ../../../sass/es/sneak.memocracia.scss */
.voters, .mini-sneaker {
  margin: 25px 5px 0 10px;
}
