<div class="navbar navbar-default navbar-secondary" role="navigation">
  <div class="container">
    
      <ul class="nav navbar-nav">
        {% for item in items %}
          <li {% if item.id == option OR item.selected %}class="active"{% endif %} title="{{ o.title }}">
            <a href="{{globals.base_url}}{{item.url}}">{{ item.title }}</a>
          </li>
        {% endfor %}

        {% if feed %}
            <li class="icon wideonly">
                <a href="{{globals.base_url}}rss{{feed.url}}" title="{{feed.title}}">            
                    <i class="fa fa-rss-square"></i>
                </a>
            </li>
        {% endif %}

      </ul>
    
  </div>
</div>
