.news-abstract {
  line-height: 1.8em;
  font-weight: 400;
  font-size: 110%;
}

.navbar-brand.site-name.sub {
  font-size: 200%;
}

.news-submitted {
  margin-top: 12px;
}

.navbar-secondary.navbar-default .navbar-nav > li.active > a {
  color: $gray-darker;
}