#newswrap {
  margin-top: 20px;
}

#newswrap .caption {
  padding-top: 0px;
}

#newswrap .img-thumbnail{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 0px;
}

.masonry .post-meta {
  display: block;
}

.masonry .post-content p{
  text-align: justify;
  font-size: 14px;
}

.masonry .box {
  margin-bottom: 20px;
  /* Fix Firefox */
  margin-left: -1px;
}

.masonry .box .post-comments.label{
    position: absolute;
    right: 0px;
    top: -10px;
    font-size: 20px;
    font-weight: bold;
    z-index: 2;
}

.masonry .box .panel-body{
  padding: 15px 35px;
    position: relative;
}

.masonry .box .panel-body .well{
  margin-left: -35px;
  margin-right: -35px;
  margin-bottom: -15px;
  text-align: center;
  border: none;
  border-radius: 0px;
}

.masonry .box .panel-body .well ul{
  margin-bottom: 0px;
  font-size: 15px;
}

.masonry .box.hover .post-thumbnail,.masonry .box.hover .post-content {
  display: none;
}

.masonry .box .caption{
  min-height: 200px;
}

.masonry .box .post-title {
  font-size: 18px;
  line-height: 22px;
  text-shadow: none;
  font-weight: bold;
  margin-top: 0px;
}

.masonry .box img.main-image {
  display: block;
  width: 100%;
}

.masonry hr {
  margin: 5px 0;
}

.masonry .panel{
  margin-bottom: 0px;
}