/* line 1, ../../sass/memocracia.scss */
h2, .h2 {
  font-size: 24px;
}

/* line 5, ../../sass/memocracia.scss */
.navbar-nav > li#li-avatar > a {
  padding-top: 4px;
  padding-bottom: 0;
}

/* line 11, ../../sass/memocracia.scss */
#userinfo #avatar {
  width: 40px;
  height: 40px;
}

/* line 17, ../../sass/memocracia.scss */
#sidebar {
  float: right;
}

/* line 21, ../../sass/memocracia.scss */
#footwrap {
  clear: both;
}

/* line 25, ../../sass/memocracia.scss */
.news-summary.box {
  position: relative;
  padding: 0 15px;
}

/* line 32, ../../sass/memocracia.scss */
.news-summary .news-shakeit {
  float: left;
  margin-right: 8px;
  padding: 8px;
  border: 1px solid black;
}
/* line 40, ../../sass/memocracia.scss */
.news-summary .link-votes.label {
  position: absolute;
  right: 0px;
  top: -10px;
  font-size: 20px;
  font-weight: bold;
  z-index: 2;
}

/* line 50, ../../sass/memocracia.scss */
.news-body {
  /* background: #603cba; */
  border: 1px solid #ccc;
  padding: 0 12px 12px 12px;
}

/* line 57, ../../sass/memocracia.scss */
.news-shakeit {
  display: none;
}

/* line 62, ../../sass/memocracia.scss */
ul.subheader {
  list-style: none;
  padding: 0;
  margin: 0;
  float: left;
  width: 100%;
}
/* line 70, ../../sass/memocracia.scss */
ul.subheader li {
  display: inline;
  float: left;
}
/* line 74, ../../sass/memocracia.scss */
ul.subheader li a {
  padding: 10px 15px;
}
