/* line 1, ../../sass/memocracia.scss */
#wrap {
  margin-bottom: 32px;
}

/* line 5, ../../sass/memocracia.scss */
h2, .h2 {
  font-size: 24px;
}

/* line 9, ../../sass/memocracia.scss */
.navbar-nav > li#li-avatar > a {
  padding-top: 4px;
  padding-bottom: 0;
}

/* line 15, ../../sass/memocracia.scss */
#userinfo #avatar {
  width: 40px;
  height: 40px;
}

/* line 21, ../../sass/memocracia.scss */
#sidebar {
  float: right;
}

/* line 25, ../../sass/memocracia.scss */
#footwrap, #singlewrap, .comments {
  clear: both;
  padding: 0 15px;
}

/* line 30, ../../sass/memocracia.scss */
#singlewrap.link-preview .genericformtxt {
  margin-bottom: 30px;
}

/* line 34, ../../sass/memocracia.scss */
.news-summary.box {
  position: relative;
  padding: 0 15px;
}

/* line 41, ../../sass/memocracia.scss */
.news-summary .news-shakeit {
  float: left;
  margin-right: 8px;
  padding: 8px;
  border: 1px solid black;
}
/* line 49, ../../sass/memocracia.scss */
.news-summary .link-votes.label {
  position: absolute;
  right: 0px;
  top: -10px;
  font-size: 20px;
  font-weight: bold;
  z-index: 2;
}

/* line 59, ../../sass/memocracia.scss */
.news-body {
  /* background: #603cba; */
  border: 1px solid #ccc;
  padding: 0 12px 12px 12px;
}

/* line 66, ../../sass/memocracia.scss */
.news-shakeit {
  display: none;
}

/* line 70, ../../sass/memocracia.scss */
#footthingy {
  margin-top: 30px;
}

/* line 74, ../../sass/memocracia.scss */
ul.subheader, #footwrap ul, #footthingy ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 81, ../../sass/memocracia.scss */
ul.subheader li, #footwrap ul li, #footthingy ul li {
  display: inline-block;
}
/* line 85, ../../sass/memocracia.scss */
ul.subheader li a, #footwrap ul li a, #footthingy ul li a {
  padding: 10px 15px;
}

/* line 92, ../../sass/memocracia.scss */
.comments-counter {
  padding: 5px 0;
  display: block;
  text-align: center;
  border: 1px solid #ccc;
  border-top: none;
}
