@import "bootswatch-scss/united/variables";

.link-votes.label.label-info {
  background: $body-bg;
  border: 1px solid $brand-primary;

  .clics {
    color: $gray;
  }
}

p.tagcloud {
  background-color: $brand-info;
  padding: 12px;
}